# Git
.git

# IDEs
.idea
.vscode

# App-specifics
.cache
.drone
.eslintcache
.husky
coverage
cypress/videos
cypress/screenshots
demo/logs
demo/stats.html
demo/vite.config.ts.timestamp-*.mjs
dist
docs
infra
node_modules
packages/core/src/version.ts

# Logs
*.log
lerna-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
