# Git
.git

# IDEs
.idea
.vscode

# App-specifics
.cache
# Drone sign step formats it in a way that prettier doesn't like
.drone/drone.yml
.eslintcache
.husky
coverage
e2e/smoke/test-results
e2e/smoke/playwright-report
dist
# Lerna reformats this as well
lerna.json
node_modules

# Logs
*.log
lerna-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store

.yarn/releases/*.js

/.nx/workspace-data