# Git
.git

# IDEs
.idea
.vscode

# App-specifics
.build-cache
.cache
.husky
.parcel-cache
coverage
dist
node_modules

# drone sign step formats it in a way that prettier doesn't like
.drone/drone.yml

# lerna reformats this as well
lerna.json
