version: '3'

services:
  cortex:
    env_file:
      - './.env'
    image: 'cortexproject/cortex:v1.13.0'
    volumes:
      - '${CORTEX_CONFIG_PATH_LOCAL}:${CORTEX_CONFIG_PATH}'
    entrypoint:
      - '/bin/cortex'
      - '-config.file=${CORTEX_CONFIG_PATH}/${CORTEX_CONFIG_FILE}'
    ports:
      - '${CORTEX_PORT}:${CORTEX_PORT}'

  grafana:
    env_file:
      - './.env'
    image: 'grafana/grafana:latest'
    volumes:
      - '${GRAFANA_CONFIG_PATH_LOCAL}:${GRAFANA_CONFIG_PATH}'
      - '${GRAFANA_DATASOURCES_PATH_LOCAL}:${GRAFANA_DATASOURCES_PATH}'
      - '${GRAFANA_DASHBOARDS_PROVISIONING_PATH_LOCAL}:${GRAFANA_DASHBOARDS_PROVISIONING_PATH}'
      - '${GRAFANA_DASHBOARDS_PATH_LOCAL}:${GRAFANA_DASHBOARDS_PATH}'
    entrypoint:
      - '${GRAFANA_HOME_PATH}/bin/grafana-server'
      - '--homepath=${GRAFANA_HOME_PATH}'
      - '--config=${GRAFANA_CONFIG_PATH}/${GRAFANA_CONFIG_FILE}'
    ports:
      - '${GRAFANA_PORT}:${GRAFANA_PORT}'

  loki:
    env_file:
      - './.env'
    image: 'grafana/loki:latest'
    command: '-config.file=${LOKI_CONFIG_PATH}/${LOKI_CONFIG_FILE}'
    ports:
      - '${LOKI_PORT}:${LOKI_PORT}'

  tempo:
    env_file:
      - './.env'
    image: 'grafana/tempo:latest'
    command:
      - '-search.enabled=true'
      - '-storage.trace.backend=local'
      - '-storage.trace.local.path=${TEMPO_TEMP_PATH}/${TEMPO_TRACES_PATH}'
      - '-storage.trace.wal.path=${TEMPO_TEMP_PATH}/${TEMPO_WAL_PATH}'
      - '-auth.enabled=false'
      - '-server.http-listen-port=${TEMPO_PORT}'
    ports:
      - '${TEMPO_PORT}:${TEMPO_PORT}'

  agent:
    env_file:
      - './.env'
    image: 'grafana/agent:main'
    volumes:
      - '${AGENT_CONFIG_PATH_LOCAL}:${AGENT_CONFIG_PATH}'
      - 'demo_demo_logs:${AGENT_LOGS_PATH}'
    #      - './${DEMO_DEMO_PATH}/${DEMO_SERVER_LOGS_PATH}:${AGENT_LOGS_PATH}'
    entrypoint:
      - '/bin/agent'
      - '-config.file=${AGENT_CONFIG_PATH}/${AGENT_CONFIG_FILE}'
      - '-metrics.wal-directory=${AGENT_TEMP_PATH}/${AGENT_WAL_PATH}'
      - '-enable-features=integrations-next'
      - '-config.expand-env'
      - '-config.enable-read-api'
    ports:
      - '${AGENT_PORT}:${AGENT_PORT}'
      - '${AGENT_PORT_APP_RECEIVER}:${AGENT_PORT_APP_RECEIVER}'
      - '${TEMPO_PORT_OTLP_RECEIVER}:${TEMPO_PORT_OTLP_RECEIVER}'
    depends_on:
      - 'cortex'
      - 'grafana'
      - 'loki'
      - 'tempo'

  database:
    env_file:
      - './.env'
    image: 'postgres:latest'
    volumes:
      - 'db_data:/var/lib/postgresql/data'
    environment:
      POSTGRES_PORT: '${DATABASE_PORT}'
      POSTGRES_USER: '${DATABASE_USER}'
      POSTGRES_PASSWORD: '${DATABASE_PASSWORD}'
      POSTGRES_DB: '${DATABASE_NAME}'
    ports:
      - '${DATABASE_PORT}:${DATABASE_PORT}'

  demo:
    env_file:
      - './.env'
    profiles:
      - 'full'
    volumes:
      - './${DEMO_DEMO_PATH}:${DEMO_WORKSPACE_PATH}/${DEMO_DEMO_PATH}'
      - './${DEMO_PACKAGES_PATH}:${DEMO_WORKSPACE_PATH}/${DEMO_PACKAGES_PATH}'
      - 'demo_build_cache:${DEMO_WORKSPACE_PATH}/.build-cache'
      - 'demo_node_modules:${DEMO_WORKSPACE_PATH}/node_modules'
      - 'demo_demo_dist:${DEMO_WORKSPACE_PATH}/${DEMO_DEMO_PATH}/dist'
      - 'demo_demo_logs:${DEMO_WORKSPACE_PATH}/${DEMO_DEMO_PATH}/${DEMO_SERVER_LOGS_PATH}'
      - 'demo_demo_node_modules:${DEMO_WORKSPACE_PATH}/${DEMO_DEMO_PATH}/node_modules'
      - 'demo_core_dist:${DEMO_WORKSPACE_PATH}/${DEMO_PACKAGES_CORE_PATH}/dist'
      - 'demo_core_node_modules:${DEMO_WORKSPACE_PATH}/${DEMO_PACKAGES_CORE_PATH}/node_modules'
      - 'demo_integration_angular_node_modules:${DEMO_WORKSPACE_PATH}/${DEMO_PACKAGES_INTEGRATION_ANGULAR_PATH}/dist'
      - 'demo_integration_angular_node_modules:${DEMO_WORKSPACE_PATH}/${DEMO_PACKAGES_INTEGRATION_ANGULAR_PATH}/node_modules'
      - 'demo_integration_react_dist:${DEMO_WORKSPACE_PATH}/${DEMO_PACKAGES_INTEGRATION_REACT_PATH}/dist'
      - 'demo_integration_react_node_modules:${DEMO_WORKSPACE_PATH}/${DEMO_PACKAGES_INTEGRATION_REACT_PATH}/node_modules'
      - 'demo_tracing_web_dist:${DEMO_WORKSPACE_PATH}/${DEMO_PACKAGES_TRACING_WEB_PATH}/dist'
      - 'demo_tracing_web_node_modules:${DEMO_WORKSPACE_PATH}/${DEMO_PACKAGES_TRACING_WEB_PATH}/node_modules'
      - 'demo_web_dist:${DEMO_WORKSPACE_PATH}/${DEMO_PACKAGES_WEB_PATH}/dist'
      - 'demo_web_node_modules:${DEMO_WORKSPACE_PATH}/${DEMO_PACKAGES_WEB_PATH}/node_modules'
    build:
      args:
        DEMO_PORT: '${DEMO_PORT}'
        DEMO_WORKSPACE_PATH: '${DEMO_WORKSPACE_PATH}'
        DEMO_DEMO_PATH: '${DEMO_DEMO_PATH}'
        DEMO_PACKAGES_PATH: '${DEMO_PACKAGES_PATH}'
        DEMO_PACKAGES_CORE_PATH: '${DEMO_PACKAGES_CORE_PATH}'
        DEMO_PACKAGES_INTEGRATION_ANGULAR_PATH: '${DEMO_PACKAGES_INTEGRATION_ANGULAR_PATH}'
        DEMO_PACKAGES_INTEGRATION_REACT_PATH: '${DEMO_PACKAGES_INTEGRATION_REACT_PATH}'
        DEMO_PACKAGES_TRACING_WEB_PATH: '${DEMO_PACKAGES_TRACING_WEB_PATH}'
        DEMO_PACKAGES_WEB_PATH: '${DEMO_PACKAGES_WEB_PATH}'
        DEMO_HMR_PORT: '${DEMO_PORT_HMR}'
    ports:
      - '${DEMO_PORT}:${DEMO_PORT}'
      - '${DEMO_PORT_HMR}:${DEMO_PORT_HMR}'
    depends_on:
      - 'agent'
      - 'database'

volumes:
  db_data:
  demo_build_cache:
  demo_node_modules:
  demo_demo_dist:
  demo_demo_logs:
    driver: 'local'
    driver_opts:
      type: 'none'
      device: '${PWD}/${DEMO_DEMO_PATH}/${DEMO_SERVER_LOGS_PATH}'
      o: 'bind'
  demo_demo_node_modules:
  demo_core_dist:
  demo_core_node_modules:
  demo_integration_angular_dist:
  demo_integration_angular_node_modules:
  demo_integration_react_dist:
  demo_integration_react_node_modules:
  demo_tracing_web_dist:
  demo_tracing_web_node_modules:
  demo_web_dist:
  demo_web_node_modules:
