version: '3.8'

services:
  mimir:
    env_file:
      - './.env'
    image: 'grafana/mimir:3.0.3@sha256:2d097da545a71ea13c6bf061be4406fa6d4af60335c99cab389a718148ce4b2d'
    volumes:
      - '${MIMIR_CONFIG_PATH_LOCAL}:${MIMIR_CONFIG_PATH}'
    entrypoint:
      - '/bin/mimir'
      - '-config.file=${MIMIR_CONFIG_PATH}/${MIMIR_CONFIG_FILE}'
    ports:
      - '${MIMIR_PORT}:${MIMIR_PORT}'

  grafana:
    env_file:
      - './.env'
    image: 'grafana/grafana:12.3.3@sha256:9e1e77ade304069aee3196e9a4f210830e96e80ce9a2640891eccc324b152faf'
    volumes:
      - '${GRAFANA_CONFIG_PATH_LOCAL}:${GRAFANA_CONFIG_PATH}'
      - '${GRAFANA_DATASOURCES_PATH_LOCAL}:${GRAFANA_DATASOURCES_PATH}'
      - '${GRAFANA_DASHBOARDS_PROVISIONING_PATH_LOCAL}:${GRAFANA_DASHBOARDS_PROVISIONING_PATH}'
      - '${GRAFANA_DASHBOARDS_PATH_LOCAL}:${GRAFANA_DASHBOARDS_PATH}'
      - '${GRAFANA_PLUGINS_PATH_LOCAL}:${GRAFANA_PLUGINS_PATH}'
      - '${GRAFANA_PLUGINS_PROVISIONING_PATH_LOCAL}:${GRAFANA_PLUGINS_PROVISIONING_PATH}'
    entrypoint:
      - '${GRAFANA_HOME_PATH}/bin/grafana-server'
      - '--homepath=${GRAFANA_HOME_PATH}'
      - '--config=${GRAFANA_CONFIG_PATH}/${GRAFANA_CONFIG_FILE}'
    ports:
      - '${GRAFANA_PORT}:${GRAFANA_PORT}'

  loki:
    env_file:
      - './.env'
    image: 'grafana/loki:3.6.7@sha256:3c8fd3570dd9219951a60d3f919c7f31923d10baee578b77bc26c4a0b32d092d'
    command: '-config.file=${LOKI_CONFIG_PATH}/${LOKI_CONFIG_FILE}'
    ports:
      - '${LOKI_PORT}:${LOKI_PORT}'

  tempo:
    env_file:
      - './.env'
    image: 'grafana/tempo:2.10.1@sha256:9371af1b75b4e057eb77f22dc4dd4d9176cd6985e29f181527be6723b7f29c41'
    volumes:
      - '${TEMPO_CONFIG_PATH_LOCAL}:${TEMPO_CONFIG_PATH}'
    command:
      - '-config.file=${TEMPO_CONFIG_PATH}/${TEMPO_CONFIG_FILE}'
      - '-config.expand-env=true'
    ports:
      - '${TEMPO_PORT}:${TEMPO_PORT}'

  alloy:
    env_file:
      - './.env'
    image: 'grafana/alloy:v1.13.2@sha256:8abcd0d97a97099cabb34be8dcfc448fca6c35931ae9291aaf74056105dedcca'
    volumes:
      - '${ALLOY_CONFIG_PATH_LOCAL}:${ALLOY_CONFIG_PATH}'
    entrypoint:
      - '/bin/alloy'
      - 'run'
      - '--server.http.listen-addr=0.0.0.0:12345'
      - '--config.extra-args="-config.expand-env"'
      - '${ALLOY_CONFIG_PATH}/${ALLOY_CONFIG_FILE}'
    ports:
      - '${AGENT_PORT}:${AGENT_PORT}'
      - '${AGENT_PORT_APP_RECEIVER}:${AGENT_PORT_APP_RECEIVER}'
      - '${TEMPO_PORT_OTLP_RECEIVER}:${TEMPO_PORT_OTLP_RECEIVER}'
    depends_on:
      - 'mimir'
      - 'grafana'
      - 'loki'
      - 'tempo'

  database:
    env_file:
      - './.env'
    image: 'postgres:18.2@sha256:b6b4d0b75c699a2c94dfc5a94fe09f38630f3b67ab0e1653ede1b7ac8e13c197'
    volumes:
      - 'db_data:/var/lib/postgresql/data'
    environment:
      POSTGRES_USER: '${DATABASE_USER}'
      POSTGRES_PASSWORD: '${DATABASE_PASSWORD}'
      POSTGRES_DB: '${DATABASE_NAME}'
      PGDATA: '/var/lib/postgresql/data'
    ports:
      - '${DATABASE_PORT}:${DATABASE_PORT}'

  demo:
    env_file:
      - './.env'
    profiles:
      - 'demo'
    volumes:
      - './${DEMO_DEMO_PATH}:${DEMO_WORKSPACE_PATH}/${DEMO_DEMO_PATH}'
      - './${DEMO_PACKAGES_PATH}:${DEMO_WORKSPACE_PATH}/${DEMO_PACKAGES_PATH}'
      - 'demo_build_cache:${DEMO_WORKSPACE_PATH}/.cache'
      - 'demo_node_modules:${DEMO_WORKSPACE_PATH}/node_modules'
      - 'demo_demo_dist:${DEMO_WORKSPACE_PATH}/${DEMO_DEMO_PATH}/dist'
      - 'demo_demo_logs:${DEMO_WORKSPACE_PATH}/${DEMO_DEMO_PATH}/${DEMO_SERVER_LOGS_PATH}'
      - 'demo_demo_node_modules:${DEMO_WORKSPACE_PATH}/${DEMO_DEMO_PATH}/node_modules'
      - 'demo_core_dist:${DEMO_WORKSPACE_PATH}/${DEMO_PACKAGES_CORE_PATH}/dist'
      - 'demo_core_node_modules:${DEMO_WORKSPACE_PATH}/${DEMO_PACKAGES_CORE_PATH}/node_modules'
      - 'demo_react_dist:${DEMO_WORKSPACE_PATH}/${DEMO_PACKAGES_REACT_PATH}/dist'
      - 'demo_react_node_modules:${DEMO_WORKSPACE_PATH}/${DEMO_PACKAGES_REACT_PATH}/node_modules'
      - 'demo_web_sdk_dist:${DEMO_WORKSPACE_PATH}/${DEMO_PACKAGES_WEB_SDK_PATH}/dist'
      - 'demo_web_sdk_node_modules:${DEMO_WORKSPACE_PATH}/${DEMO_PACKAGES_WEB_SDK_PATH}/node_modules'
      - 'demo_web_tracing_dist:${DEMO_WORKSPACE_PATH}/${DEMO_PACKAGES_WEB_TRACING_PATH}/dist'
      - 'demo_web_tracing_node_modules:${DEMO_WORKSPACE_PATH}/${DEMO_PACKAGES_WEB_TRACING_PATH}/node_modules'
    build:
      context: '.'
      args:
        DEMO_WORKSPACE_PATH: '${DEMO_WORKSPACE_PATH}'
        DEMO_DEMO_PATH: '${DEMO_DEMO_PATH}'
        DEMO_PACKAGES_CORE_PATH: '${DEMO_PACKAGES_CORE_PATH}'
        DEMO_PACKAGES_PATH: '${DEMO_PACKAGES_PATH}'
        DEMO_PACKAGES_REACT_PATH: '${DEMO_PACKAGES_REACT_PATH}'
        DEMO_PACKAGES_WEB_SDK_PATH: '${DEMO_PACKAGES_WEB_SDK_PATH}'
        DEMO_PACKAGES_WEB_TRACING_PATH: '${DEMO_PACKAGES_WEB_TRACING_PATH}'
        DEMO_EXPERIMENTAL_TRANSPORT_OTLP_HTTP_PATH: '${DEMO_EXPERIMENTAL_TRANSPORT_OTLP_HTTP_PATH}'
        DEMO_PORT: '${DEMO_PORT}'
        DEMO_PORT_HMR: '${DEMO_PORT_HMR}'
    ports:
      - '${DEMO_PORT}:${DEMO_PORT}'
      - '${DEMO_PORT_HMR}:${DEMO_PORT_HMR}'
    depends_on:
      - 'alloy'
      - 'database'

volumes:
  db_data:
  demo_build_cache:
  demo_node_modules:
  demo_demo_dist:
  demo_demo_logs:
  demo_demo_node_modules:
  demo_core_dist:
  demo_core_node_modules:
  demo_react_dist:
  demo_react_node_modules:
  demo_web_sdk_dist:
  demo_web_sdk_node_modules:
  demo_web_tracing_dist:
  demo_web_tracing_node_modules:
  demo_fetch_instrumentation_dist:
  demo_fetch_instrumentation_node_modules:
  demo_xhr_instrumentation_dist:
  demo_xhr_instrumentation_node_modules:
