body {
  background-color: #f2f2f2;
  color: #444444;
  font-size: 16px;
  line-height: 1.8;
  margin: 5% auto;
  max-width: 73%;
  padding: 0 10px;
  text-shadow: 0 1px 0 #ffffff;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

a {
  border-bottom: 1px solid #444444;
  color: #444444;
  text-decoration: none;
}

a:hover {
  border-bottom: 0;
}

.active {
  border-bottom: 0;
  font-weight: bold;
  pointer-events: none;
}
