name: 'Validate Semantic Pull Request'

on:
  pull_request:
    types: [opened, edited, synchronize]

permissions: {}

jobs:
  lint-pr-title:
    runs-on: ubuntu-latest
    steps:
      - id: lint-pr-title
        uses: grafana/shared-workflows/actions/lint-pr-title@56f31bf296b9aa8e0a82e5381b9127465bfcd7fe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
